* {
    font-family: "Roboto Condensed", sans-serif;
}

main {
    position: relative;
 } 

.top-logo {
    fill: #fff;
}

.nav-logo {
    fill: #f72210;
}


.page-nav li a {
    color: #000;
}

.page-nav li a:hover {
    color: #f72210;
}

